// =============================================================================
// Form Builder
// =============================================================================

// Form Builder
// -----------------------------------------------------------------------------
//
// Purpose: Style up the Kentico CMS form elements
//
//
// 1. As we have no control over the class names we are nesting them here
//
// -----------------------------------------------------------------------------

.c-formbuilder {
    @include global-component-margins;
}

.c-formbuilder__wrapper {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(6);
        @include make-col-offset(3);
    }

    // 1
    .EditingFormTable {
        width: 100%;
    }

    .FieldLabel {
        padding-bottom: $unit;
        padding-right: $unit;
        vertical-align: top;
        width: 30%;
    }

    .EditingFormValueCell {
        padding-bottom: $unit;
        width: 70%;
    }

    .InfoLabel {
        @include para-large;
        display: inline-block;
        margin-bottom: $unit-large;
    }

    .EditingFormLabel {
        @include form-label;
    }

    .ErrorLabel {
        @include para;
        color: $color-form-validation-text-error;
        display: inline-block;
        margin-bottom: $unit-large;
    }

    .EditingFormErrorLabel {
        @include para;
        color: $color-form-validation-text-error;
        display: inline-block;
        margin-top: $unit-xsmall;
    }

    input[type=text] {
        @include form-textbox;
        width: 100%;
    }

    textarea {
        @include form-textarea;
        width: 100%;
    }

    select {
        @include font-size(1.2);
        padding: $unit-xxsmall;

        @include media-breakpoint-up(md) {
            @include font-size(1.4);
        }
    }

    .checkbox {
        input[type=checkbox] {
            @include font-size(1.2);

            @include media-breakpoint-up(md) {
                @include font-size(1.4);
            }

            &:not(:first-of-type) {
                margin-top: $unit-small;
            }
        }

        label {
            @include font-size(1.2);
            display: inline-block;
            margin-left: $unit-xsmall;

            @include media-breakpoint-up(md) {
                @include font-size(1.4);
            }

            &:not(:first-of-type) {
                margin-top: $unit-small;
            }
        }
    }

    .radio {
        input[type=radio] {
            @include font-size(1.2);

            @include media-breakpoint-up(md) {
                @include font-size(1.4);
            }

            &:not(:first-of-type) {
                margin-top: $unit-small;
            }
        }

        label {
            @include font-size(1.2);
            display: inline-block;
            margin-left: $unit-xsmall;

            @include media-breakpoint-up(md) {
                @include font-size(1.4);
            }

            &:not(:first-of-type) {
                margin-top: $unit-small;
            }
        }
    }

    .uploader {
        @include font-size(1.2);

        @include media-breakpoint-up(md) {
            @include font-size(1.4);
        }
    }

    input[type=submit] {
        @extend .c-btn;
    }
}