<blockquote class="c-blockquote {{class}}">
    <div class="container">
        <div class="row">
            <div class="c-blockquote__content-container">
                <p class="c-blockquote__quote para-large">{{quote}}</p>
                <!--(bake-start _if="authorname")-->
                <footer class="c-blockquote__author">
                    <p class="c-blockquote__author-name">{{authorname}}</p>
                </footer>
                <!--(bake-end)-->
            </div>
        </div>
    </div>
</blockquote>
