<section class="c-carousel">
    <div class="container">
        <div class="row">
            <div class="c-carousel__wrapper">
                <div class="c-carousel__slides js-carousel-slides">
                    <!--(bake-start _if="bgimage")-->
                    <div class="c-carousel__slide lazyload" data-bgset="/resources/images/carousel-4.jpg [(min-width: 300px)]">
                    <!--(bake-end)-->
                    <!--(bake-start _if="!bgimage")-->
                    <div class="c-carousel__slide">
                    <!--(bake-end)-->
                        <div class="c-carousel__slide-content">
                            <h2 class="c-carousel__slide-title heading">Dine for £9.99</h2>
                            <p class="c-carousel__slide-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
                            <a href="" class="c-btn c-btn--primary c-carousel__slide-link">Redeem</a>
                        </div>
                    </div>
                    <!--(bake-start _if="bgimage")-->
                    <div class="c-carousel__slide lazyload" data-bgset="/resources/images/carousel-3.jpg [(min-width: 300px)]">
                    <!--(bake-end)-->
                    <!--(bake-start _if="!bgimage")-->
                    <div class="c-carousel__slide">
                    <!--(bake-end)-->
                        <div class="c-carousel__slide-content">
                            <h2 class="c-carousel__slide-title heading">Buy one get on FREE</h2>
                            <p class="c-carousel__slide-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
                            <a href="" class="c-btn c-btn--primary c-carousel__slide-link">Redeem</a>
                        </div>
                    </div>
                    <!--(bake-start _if="bgimage")-->
                    <div class="c-carousel__slide lazyload" data-bgset="/resources/images/carousel-2.jpg [(min-width: 300px)]">
                    <!--(bake-end)-->
                    <!--(bake-start _if="!bgimage")-->
                    <div class="c-carousel__slide">
                    <!--(bake-end)-->
                        <div class="c-carousel__slide-content">
                            <h2 class="c-carousel__slide-title heading">Carousel Slide Title</h2>
                            <p class="c-carousel__slide-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
                            <a href="" class="c-btn c-btn--primary c-carousel__slide-link">Call to action</a>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__pagination js-carousel-pagination"></div>
            </div>
        </div>
    </div>
</section>