<div class="c-event-listing">
    <div class="container">
        <div class="row">
            <!--(bake event-listing-item.html title="Event name would go here" daterange="true")-->
            <!--(bake event-listing-item.html title="Event name would go here")-->
            <!--(bake event-listing-item.html title="Event name would go here" daterange="true")-->
            <!--(bake-start _if="!latest")-->
            <!--(bake event-listing-item.html title="Event name would go here")-->
            <!--(bake event-listing-item.html title="Event name would go here" daterange="true")-->
            <!--(bake event-listing-item.html title="Event name would go here")-->
            <!--(bake-end)-->
        </div>
    </div>
</div>
