<div class="c-listing {{class}}">
    <div class="container">
        <div class="row">
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
            <!--(bake listing-item.html title="{{title}}" image="{{image}}")-->
        </div>
    </div>
</div>
