<!--(bake-start _if="!bgimage")-->
<section class="c-masthead {{class}}">
<!--(bake-end)-->
    <div class="container">
        <div class="row">
            <div class="c-masthead__content-container">
                <div class="row">
                    <div class="c-masthead__title-container">
                        <h1 class="c-masthead__title heading-large">{{title}}</h1>
                    </div>

                    <!--(bake-start _if="description")-->
                    <div class="c-masthead__summary-container cms-content">
                        <p class="para-large">{{description}}</p>
                    </div>
                    <!--(bake-end)-->
                </div>
            </div>
        </div>
    </div>
</section>
