<a href="#main-content" class="u-visually-hide">Skip to content</a>
<nav class="c-navbar">
    <div class="container">
        <div class="row">
            <div class="c-navbar__wrapper">
                <a href="template-homepage.html" class="c-navbar__brand"><img src="/resources/images/logo.png" alt="Pizza" /></a>
                <div class="c-navbar__links" id="js-navbar-links">
                    <ul class="c-navbar__list">
                        <li class="c-navbar__item"><a href="#" class="c-navbar__link is-active" aria-current="page">Menu</a></li>
                        <li class="c-navbar__item js-login"><a href="/" class="c-navbar__link">Login/Sign up</a></li>
                        <li class="c-navbar__item is-hidden js-logout"><a href="/" class="c-navbar__link">Logout</a></li>
                        <li class="c-navbar__item is-hidden js-profile"><a href="template-profile.html" class="c-navbar__link">My Account</a></li>
                    </ul>
                </div>
                <button class="c-navbar__menu" id="js-navbar-menu-toggle" aria-controls="js-navbar-links" type="button"><i class="icon-burger" aria-hidden="true"></i><span class="u-visually-hide">Menu</span></button>
            </div>
        </div>
    </div>
</nav>